  1model {
  2  ssd {
  3    num_classes: 1 # Set this to the number of different label classes
  4    image_resizer {
  5      fixed_shape_resizer {
  6        height: 640
  7        width: 640
  8      }
  9    }
 10    feature_extractor {
 11      type: "ssd_resnet50_v1_fpn_keras"
 12      depth_multiplier: 1.0
 13      min_depth: 16
 14      conv_hyperparams {
 15        regularizer {
 16          l2_regularizer {
 17            weight: 0.00039999998989515007
 18          }
 19        }
 20        initializer {
 21          truncated_normal_initializer {
 22            mean: 0.0
 23            stddev: 0.029999999329447746
 24          }
 25        }
 26        activation: RELU_6
 27        batch_norm {
 28          decay: 0.996999979019165
 29          scale: true
 30          epsilon: 0.0010000000474974513
 31        }
 32      }
 33      override_base_feature_extractor_hyperparams: true
 34      fpn {
 35        min_level: 3
 36        max_level: 7
 37      }
 38    }
 39    box_coder {
 40      faster_rcnn_box_coder {
 41        y_scale: 10.0
 42        x_scale: 10.0
 43        height_scale: 5.0
 44        width_scale: 5.0
 45      }
 46    }
 47    matcher {
 48      argmax_matcher {
 49        matched_threshold: 0.5
 50        unmatched_threshold: 0.5
 51        ignore_thresholds: false
 52        negatives_lower_than_unmatched: true
 53        force_match_for_each_row: true
 54        use_matmul_gather: true
 55      }
 56    }
 57    similarity_calculator {
 58      iou_similarity {
 59      }
 60    }
 61    box_predictor {
 62      weight_shared_convolutional_box_predictor {
 63        conv_hyperparams {
 64          regularizer {
 65            l2_regularizer {
 66              weight: 0.00039999998989515007
 67            }
 68          }
 69          initializer {
 70            random_normal_initializer {
 71              mean: 0.0
 72              stddev: 0.009999999776482582
 73            }
 74          }
 75          activation: RELU_6
 76          batch_norm {
 77            decay: 0.996999979019165
 78            scale: true
 79            epsilon: 0.0010000000474974513
 80          }
 81        }
 82        depth: 256
 83        num_layers_before_predictor: 4
 84        kernel_size: 3
 85        class_prediction_bias_init: -4.599999904632568
 86      }
 87    }
 88    anchor_generator {
 89      multiscale_anchor_generator {
 90        min_level: 3
 91        max_level: 7
 92        anchor_scale: 4.0
 93        aspect_ratios: 1.0
 94        aspect_ratios: 2.0
 95        aspect_ratios: 0.5
 96        scales_per_octave: 2
 97      }
 98    }
 99    post_processing {
100      batch_non_max_suppression {
101        score_threshold: 9.99999993922529e-09
102        iou_threshold: 0.6000000238418579
103        max_detections_per_class: 100
104        max_total_detections: 100
105        use_static_shapes: false
106      }
107      score_converter: SIGMOID
108    }
109    normalize_loss_by_num_matches: true
110    loss {
111      localization_loss {
112        weighted_smooth_l1 {
113        }
114      }
115      classification_loss {
116        weighted_sigmoid_focal {
117          gamma: 2.0
118          alpha: 0.25
119        }
120      }
121      classification_weight: 1.0
122      localization_weight: 1.0
123    }
124    encode_background_as_zeros: true
125    normalize_loc_loss_by_codesize: true
126    inplace_batchnorm_update: true
127    freeze_batchnorm: false
128  }
129}
130train_config {
131  batch_size: 8 # Increase/Decrease this value depending on the available memory (Higher values require more memory and vice-versa)
132  data_augmentation_options {
133    random_horizontal_flip {
134    }
135  }
136  data_augmentation_options {
137    random_crop_image {
138      min_object_covered: 0.0
139      min_aspect_ratio: 0.75
140      max_aspect_ratio: 3.0
141      min_area: 0.75
142      max_area: 1.0
143      overlap_thresh: 0.0
144    }
145  }
146  sync_replicas: true
147  optimizer {
148    momentum_optimizer {
149      learning_rate {
150        cosine_decay_learning_rate {
151          learning_rate_base: 0.03999999910593033
152          total_steps: 25000
153          warmup_learning_rate: 0.013333000242710114
154          warmup_steps: 2000
155        }
156      }
157      momentum_optimizer_value: 0.8999999761581421
158    }
159    use_moving_average: false
160  }
161  fine_tune_checkpoint: "pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0" # Path to checkpoint of pre-trained model
162  num_steps: 25000
163  startup_delay_steps: 0.0
164  replicas_to_aggregate: 8
165  max_number_of_boxes: 100
166  unpad_groundtruth_tensors: false
167  fine_tune_checkpoint_type: "detection" # Set this to "detection" since we want to be training the full detection model
168  use_bfloat16: false # Set this to false if you are not training on a TPU
169  fine_tune_checkpoint_version: V2
170}
171train_input_reader {
172  label_map_path: "annotations/label_map.pbtxt" # Path to label map file
173  tf_record_input_reader {
174    input_path: "annotations/train.record" # Path to training TFRecord file
175  }
176}
177eval_config {
178  metrics_set: "coco_detection_metrics"
179  use_moving_averages: false
180}
181eval_input_reader {
182  label_map_path: "annotations/label_map.pbtxt" # Path to label map file
183  shuffle: false
184  num_epochs: 1
185  tf_record_input_reader {
186    input_path: "annotations/test.record" # Path to testing TFRecord
187  }
188}